<% provide(:title, 'Sign up' ) %>
<h1>Sign up form</h1>
<h2>New account form</h2>
<div class = "row">
  <div class = "span6 offset3">
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
	
	<%= f.label :last_name %>
	<%= f.taxt_field :last_name %>

	<%= f.label :password %>
	<%= f.taxt_field :password %>

	<%= f.label :password_confirmation %>
        <%= f.taxt_field :password_confirmation %>
<%= f.submit "Create account", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>
