<p id="notice"><%= notice %></p>

<% if @cv.nil? %>
  <%= render 'cvs/new' %> 
<% elsif Experience.find_by_cv_id(@user.cv.id).nil? %>
  <%= render 'experiences/new' %>
<% elsif Education.find_by_cv_id(@user.cv.id).nil? %>
  <%= render 'educations/new' %>
<%else %>
  <%= render 'cvs/show' %>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
